In [7]:
import pandas
from pandas import ExcelWriter
import duckdb
import numpy as np
import sqlalchemy
import sqlite3
import seaborn as sb
from matplotlib import pyplot as plt
from matplotlib.ticker import MaxNLocator
import matplotlib.ticker as ticker
import warnings
import os
import re
import glob
import string
import openpyxl
from openpyxl import load_workbook
import pickle
import numpy as np
from loguru import logger


# Import jupysql Jupyter extension to create SQL cells.
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:

pandas.set_option("display.max_rows", None)
pandas.set_option("display.max_columns", None)
pandas.set_option("display.width", None)
pandas.set_option("display.max_colwidth", None)


directory_of_interest = (
    "/Users/carstenjuliansavage/PycharmProjects/Random_Project/Data Files"
)

analysis_file_name = "hello"

excel_analysis_output_path = f"{directory_of_interest}/{analysis_file_name}.xlsx"


def concat_all_data(directory):
    os.chdir(directory)

    # Import files
    path = "*"
    files = glob.glob(path)

    combined_files = pandas.DataFrame()

    logger.info("Importing Files")

    list_of_dfs = []

    for each_file in files:
        if "xlsx" in each_file:
            df = pandas.read_excel(each_file, engine="openpyxl")
            df["File_Name"] = each_file
            df["Row_Number"] = df.index + 2
            list_of_dfs.append(df)
        elif "xls" in each_file:
            df = pandas.read_excel(each_file)
            df["File_Name"] = each_file
            df["Row_Number"] = df.index + 2
            list_of_dfs.append(df)
        elif "csv" in each_file:
            df = pandas.read_csv(each_file)
            df["File_Name"] = each_file
            df["Row_Number"] = df.index + 2
            list_of_dfs.append(df)
        else:
            pass

    combined_files = pandas.concat(list_of_dfs, ignore_index=True)

    logger.info("Finished Importing Files")

    return combined_files


def create_summary_of_data(data_for_summary):
    logger.info("Building non-null summary of data")

    counts_by_file = pandas.DataFrame(data_for_summary.groupby("file_name").count())
    counts_by_file = counts_by_file.transpose()

    counts_by_file = counts_by_file.astype("int")

    counts = pandas.DataFrame(data_for_summary.count())

    master_dtypes = pandas.DataFrame(master_dataframe.dtypes)

    counts_master_and_all = pandas.concat(
        [master_dtypes, counts, counts_by_file], axis=1
    )

    counts_master_and_all.columns.values[0] = "Master_Dataset_Dtype"

    counts_master_and_all.columns.values[1] = "Master_Dataset_Non_Null"

    counts_master_and_all.drop("file_name", axis=0, inplace=True)

    return counts_master_and_all


def get_column_names(combined_files):
    logger.info("Creating summary of names of non-null columns")

    # Get first 20 rows from each source doc, shuffle obs. to increase probability of obs. in the sample.
    combined_files_random_sample = (
        combined_files.sample(frac=1, random_state=47)
        .groupby(["file_name"])
        .head(20)
        .set_index(["file_name"])
    )

    # Get column names for files where data exists for those columns
    non_na_rows = (
        combined_files_random_sample.stack()
        .reset_index(level=1)
        .groupby(level=0, sort=False)["level_1"]
        .apply(list)
    )

    non_na_rows = pandas.DataFrame(non_na_rows)

    non_na_rows["level_1"] = list(map(set, non_na_rows["level_1"]))

    return non_na_rows


def get_frequency_table(dataset):
    list_of_dfs = []
    for column in dataset:
        column_frequency = dataset[column].value_counts()
        column_frequency_df = pandas.DataFrame(column_frequency)
        list_of_dfs.append(column_frequency_df)
    return list_of_dfs


def get_frequency_table_sheets(dataset):
    logger.info("Creating list of dataframes")
    all_frequency_table_sheets_list = []
    for i in range(len(dataset.columns)):
        frequency_table_sheet = pandas.concat(
            [
                dataset[dataset.columns[i]].value_counts(dropna=False),
                dataset[dataset.columns[i]].value_counts(normalize=True, dropna=False),
            ],
            axis=1,
            keys=("Count", "Perc"),
        )
        all_frequency_table_sheets_list.append(frequency_table_sheet)

    return all_frequency_table_sheets_list


def save_frequency_tables_xls(list_dfs, xls_path, list_of_column_names):
    logger.info("Creating analysis Excel file")

    master_summary_stats_by_file = (
        master_dataframe.groupby(["file_name"])
        .describe(include="all", datetime_is_numeric=True)
        .transpose()
    )
    master_summary_stats_all = master_dataframe.describe(
        include="all", datetime_is_numeric=True
    ).transpose()
    with ExcelWriter(xls_path) as writer:
        master_summary_stats_all.to_excel(
            writer,
            sheet_name="Summary Stats CombinedFile",
            index=True,
            header=True,
            freeze_panes=(1, 0),
        )
        master_summary_stats_by_file.to_excel(
            writer,
            sheet_name="Summary Stats ByFile",
            index=True,
            header=True,
            freeze_panes=(1, 0),
        )
        summary_of_master_data.to_excel(
            writer,
            sheet_name="Summary Master Data",
            index=True,
            header=True,
            freeze_panes=(1, 0),
        )
        non_na_rows_all.to_excel(
            writer,
            sheet_name="Column Names ByFile",
            index=True,
            header=True,
            freeze_panes=(1, 0),
        )
        sheet_separator = pandas.DataFrame()
        sheet_separator.to_excel(
            writer,
            sheet_name="Frequency Tables ByColumn>>",
            index=True,
            header=True,
            freeze_panes=(1, 0),
        )
        for df, column_name in zip(list_dfs, list_of_column_names):
            df.to_excel(
                writer,
                sheet_name=column_name,
                index=True,
                header=True,
                freeze_panes=(1, 0),
            )

    return list_of_column_names


def get_valid_excel_column_names(list_of_col_names):
    valid_chars = "-_.() %s%s" % (string.ascii_letters, string.digits)
    list_of_col_names = [
        "".join(c for c in col if c in valid_chars) for col in list_of_col_names
    ]
    invalid_chars = r"[\[\]:/\\?\*]"
    list_of_col_names = [re.sub(invalid_chars, "", col) for col in list_of_col_names]
    list_of_col_names = [col[:30].strip() for col in list_of_col_names]
    return list_of_col_names


class ReNamer:
    def __init__(self):
        self.d = dict()

    def __call__(self, x):
        if x not in self.d:
            self.d[x] = 0
            return x
        else:
            self.d[x] += 1
            return "%s_%d" % (x, self.d[x])

In [5]:
if __name__ == "__main__":
    master_dataframe = concat_all_data(directory_of_interest)
    master_dataframe.columns = [x.lower() for x in master_dataframe.columns]
    master_dataframe = master_dataframe.rename(columns=ReNamer())
    logger.info(master_dataframe.columns)
    list_of_columns_in_df = master_dataframe.columns
    non_na_rows_all = get_column_names(master_dataframe)
    summary_of_master_data = create_summary_of_data(master_dataframe)

    list_of_frequency_dfs = get_frequency_table(master_dataframe)

    column_names_list = get_valid_excel_column_names(list(master_dataframe.columns))

    list_of_all_frequency_table_sheets = get_frequency_table_sheets(
        dataset=master_dataframe
    )
    save_frequency_tables_xls(
        list_dfs=list_of_all_frequency_table_sheets,
        xls_path=excel_analysis_output_path,
        list_of_column_names=column_names_list,
    )
    logger.info("Done.")

2023-05-04 14:27:29.545 | INFO     | __main__:concat_all_data:25 - Importing Files
2023-05-04 14:28:02.752 | INFO     | __main__:concat_all_data:50 - Finished Importing Files
2023-05-04 14:28:03.131 | INFO     | __main__:<module>:5 - Index(['rssdid', 'htm', 'afs', 'ta', 'tlr', 'cet1r', 't1r', 'tcr', 'date',
       'bank_type', 'file_name', 'row_number', 'customerid', 'count',
       'country', 'state', 'city', 'zip code', 'lat long', 'latitude',
       'longitude', 'gender', 'senior citizen', 'partner', 'dependents',
       'tenure months', 'phone service', 'multiple lines', 'internet service',
       'online security', 'online backup', 'device protection', 'tech support',
       'streaming tv', 'streaming movies', 'contract', 'paperless billing',
       'payment method', 'monthly charges', 'total charges', 'churn label',
       'churn value', 'churn score', 'cltv', 'churn reason', 'id', 'item',
       'quantity_ordered', 'item_cost', 'unnamed: 0', 'count_1', 'unique',
       'top', 'freq', 'mean', 'min', '25%', '50%', '75%', 'max', 'std',
       'lastname', 'firstname', 'gender_1'],
      dtype='object')
2023-05-04 14:28:03.133 | INFO     | __main__:get_column_names:81 - Creating summary of names of non-null columns
2023-05-04 14:28:03.463 | INFO     | __main__:create_summary_of_data:56 - Building non-null summary of data
2023-05-04 14:28:05.917 | INFO     | __main__:get_frequency_table_sheets:116 - Creating list of dataframes
2023-05-04 14:28:06.582 | INFO     | __main__:save_frequency_tables_xls:133 - Creating analysis Excel file
2023-05-04 14:31:03.722 | INFO     | __main__:<module>:22 - Done.

In [9]:
conn = sqlite3.connect('master_dataframe_database.db')
master_dataframe.to_sql('master_dataframe', conn, if_exists='replace',index=False)
conn.commit()
conn.close()

In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql sqlite:///master_dataframe_database.db

In [14]:
%%sql
SELECT * FROM master_dataframe GROUP BY file_name LIMIT 5;

 * sqlite:///master_dataframe_database.db
Done.

[(37.0, 0.0, 27514.0, 86832.0, 0.20210000000000003, None, 0.37659999999999993, 0.38920000000000005, '2011-03-31 00:00:00', 'Small bank', 'Analytics_mindset_case_studies_Bank_Investment_Portfolios.xlsx', 2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, 'Telco_customer_churn.xlsx', 2, '3668-QPYBK', 1.0, 'United States', 'California', 'Los Angeles', 90003.0, '33.964131, -118.272783', 33.964131, -118.272783, 'Male', 'No', 'No', 'No', 2.0, 'Yes', 'No', 'DSL', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Mailed check', 53.85, '108.15', 'Yes', 1.0, 86.0, 3239.0, 'Competitor made better offer', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, 'employees.csv', 2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'g', 'matt', 'm'),
 (None, None, None, None, None, None, None, None, None, None, 'hello.xlsx', 2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'rssdid', 264351.0, None, None, None, '1052820.20279099', '37', '333856', '664831', '988144', '5336928', 1080080.447182299, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, 'orders.csv', 2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, 'playboy roll', 1.0, 12.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]